body{
    background-image: url("Pictures/Backgrounds/sky.png");
    background-size: cover;
    align-content: center;
    font-family: 'HIRO MISAKE';
}
/* Dette var også til musepekeren, men fant det ikke ut
.small {
  image-rendering: url("Pictures/Cursors/swordIdle.png");
}
.big {
  image-rendering: url("Pictures/Cursors/swordIdle.png");
}
*/
.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /*border: 3px solid violet;*/
    flex-direction: row;
    flex-wrap: nowrap;
    height: 1200px;
    width: fit-content;
    align-content: center;
    width: 100%;
}
    .money {
        display: flex;
        flex-direction: column;
        /*border: 3px solid black;*/
        height: fit-content;
        width: fit-content;
        order: 3;
    }
        .moneyPouch{
            height: 8%;
            /*border: 3px dotted red;*/
            width: 150px;
        }
        .gold{
            align-self: center;
        }
    .heroes{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        /*border: 3px solid orange;*/
        height: fit-content;
        width: 15%;
        max-width: 30%;
        max-height: fit-content;
        height: 1080px;
        align-self: flex-start;
        order: -1;
        /*overflow: scroll;*/
    }

        .catKnight{
            align-self: center;
            width: 50%;
            height: 75%;
            /*border: 3px solid pink;*/
        }
        .catKnightNum{
            align-self: center;
            /*border: 3px dotted red;*/
        }
        .catKnightCost{
            align-self: center;
            /*border: 3px dotted red;*/
        }
        .archer{
            align-self: center;
            width: 100%;
            height: 50%;
            /*border: 3px solid palevioletred;*/
        }
        .archerNum{
            align-self: center;
            /*border: 3px dotted red;*/
        }
        .archerCost{
            align-self: center;
            /*border: 3px dotted red;*/
        }
    .images {
        display: flex;
        flex-direction: column;
        align-self: right;
        /*border: 3px solid black;*/
        height: fit-content;
        width: fit-content;
    }
        .monsters {
            order: 1;
            /*border: 3px dotted blue;*/
            position: relative;
            z-index: 2;
            width: 40%;
            height: 400px;
            top: 5px;
            align-self: center;
            /*animation: fadeIn ease 2s;
            -webkit-animation: fadeIn ease 2s;
            -moz-animation: fadeIn ease 2s;
            -o-animation: fadeIn ease 2s;
            -ms-animation: fadeIn ease 2s;*/
            opacity: 1;
            animation-play-state: paused;
            animation-name: damaged;
            animation-duration: 0.5;
            animation-iteration-count: 1;
        }
        .health{
            align-self: center;
            position: relative;
            top: 15%;
            /*border: 3px dotted red;*/
        }
        .platforms {
            order: 2;
            /*border: 3px dotted lime;*/
            position: relative;
            z-index: 1;
            width: 100%;
            bottom: 100px;
        }


  @keyframes damaged {
    0% {
      size: 100%;
      top: 5px;
      left: 0px;
    }
    50% {
      size: 60%;
      top: 2.5px;
      left: 2.5px;
    }
    100% {
      size: 30%;
      top: 5px;
      left: 5px;
    }
    50% {
      size: 60%;
      top: 2.5px;
      left: 2.5px;
    }
    0% {
      size: 100%;
      top: 5px;
      left: 0px;
    }
  }

  @keyframes idle {
    100% {}
  }

  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}
@keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
  }
}
